.instrumentPage{
  width: 100%;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  /* background-color: #f8f9fa; */
  /* color: #333; */
}

.instrumentePage__title {
  color: #afafaf;
  text-align: center;
}

