.userCard{
  width: 80%;
  padding: .3rem;
  margin: .3rem 0 ;
  border: 1px solid black;
  border-radius: 20px;
  user-select: none;
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userCard.select{
  background: #027cff62;
  border: 1px solid blue;
}

.userCard__avatar{
  border: 1px solid black;
  max-width: 200px;
  border-radius: 50%;
  object-fit: cover;
  user-select: none;
}

.userCard__name{
  color: #07006f;
  font-size: 1.2rem;
  font-weight: bold;
}




